*{
	margin: 0;
	padding: 0;
}

html{
	height: 100vh;
	width: 100vw;
}

#login_box {
	position: absolute;
	top: 50vh;
	left: 50vw;
	margin-top: -275px;
	margin-left: -500px;
    width: 1000px;
    height: 550px;
    box-shadow: 5px 5px 20px lightgrey;
    display: block;
    
}

#login_logo{
	width: 50%;
	height: 100%;
}

.login_form{
	float: right;
	width: 50%;
	height: 100%;
	padding: 100px;
	padding-top: 160px;
	font-weight: bold;
	text-align: center;	
	background-color: white;
    box-sizing: border-box; 
}

#login_text {
    font-size: 18px;
    font-weight: medium;
    color: #3F3F3F;
    text-align: left;
    margin-top: 60px;
    margin-left: 8px;
    margin-bottom: 15px;
}

.login_insert {
	background-image: url(../img/icon_code.png);
    background-repeat: no-repeat;
    background-size: 20px 15px;
    background-position: 10px center;
    width: 280px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #3F3F3F;
    margin-bottom: 10px;
    text-indent: 40px;
    border-radius: 3px;
}

#loginbt {
    margin: 0px;
    padding: 0px;
    width: 280px;
    height: 50px;
    border: 0px;
    border-radius: 3px;
    background-color: #FDB525;
    color: #fff;
}

#loginbt:hover{
	cursor: pointer;
}

/*SWEET ALERT CSS*/
.swal-button {
	background-color: #FDB525;
}

input:focus {
    outline: none;
    border-radius: 3px;
}
