@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
	overflow: auto;
}

header {
	flex-direction: row-reverse;
}

body{
	background-color: #F4F4F4;
}

.main_div{
	height: calc(100vh - 60px);
	display: block;
	text-align: center;
	white-space: nowrap;
	overflow: auto;
}

.table_section {
	width: 820px;
	height: 620px;
	margin: 0.8vw 0.5vw;
	display: inline-block;
}

.t_header {
	height: 30px;
	padding: 15px;
	border: 1px solid #C3C3C3;
	border-bottom: 0;
	background-color: #FFF;
	line-height: 35px;
	text-align: center;
}

.title_p {
	font-size: 18px;
	font-weight: bold;
}

.table_div{
	background-color: #FFF;
	padding: 25px;
	border: 1px solid #C3C3C3;
}

table {
	display: inline-table;
	height: 500px;
	border-collapse: collapse;
	text-align: right;
	border: 1px solid #C3C3C3;
	background-color: white;
	font-size: 14px;
}

td {
	border: 1px solid #C3C3C3;
	border-collapse: collapse;
	padding: 2px 7px;
	height: 30px;
}

.title {
	background-color: #F4F4F4;
	border: 1px solid #C3C3C3;
	font-size: 13px;
	font-weight: bold;
	color: #717171;
	text-align: center;
	height: 30px;
}
