.main_div {
    padding: 25px;
    border: 1px solid #C3C3C3;
    border-top: 0px;
    background-color: white;
    background-clip: content-box;
    height: calc(100vh - 200px);
    overflow: auto;
}

th, td{
	white-space: nowrap;
}

.search_box {
    margin-right: 10px;
    width: 120px;
    height: 30px;
    display: inline-block;
    border : 0px;
}

option {
    font-size: 12px;
    float: none;
    color: #717171;
    font-weight: bold;
    float: left;
}

.hide_div{
	border: 5px solid #FDB525;
	border-radius: 25px;
	position: absolute;
	background-color: white;
	top: 50vh;
	left: 50vw;
	margin-top: -120px;
	margin-left: -230px;
	padding: 30px;
    width: 400px;
    height: 120px;
    display: none;
    text-align: center;
}

.show_div{
	display: block;
    z-index: 999;
}

.upload_div2{
	text-align: center;
	margin-top: 15px;
}

#excelFile{
	width: 300px;
}

#btn_excel1{
	display: inline-block;
	margin: 20px;
}

#btn_excel2{
	display: inline-block;
	margin: 20px;
}

.search_form>img {
	width: auto;
	vertical-align: middle;
	cursor: pointer;
}

.filebox input[type="file"] {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0;
}
.filebox label {
	display:inline-block;
	padding:4px 8px;
	color:#fff;
	font-size:inherit;
	line-height:normal;
	vertical-align:middle;
	background-color: #FDB525;
	cursor:pointer;
	border:1px solid #ebebeb;
	border-bottom-color:#e2e2e2;
	border-radius:.25em;
}
/* named upload */ 
.filebox .upload-name {
	width: 300px;
	display:inline-block;
	padding:4px 8px;
	/* label의 패딩값과 일치 */ font-size:inherit;
	font-family:inherit;
	line-height:normal;
	vertical-align:middle;
	background-color:#f5f5f5;
	border:1px solid #ebebeb;
	border-bottom-color:#e2e2e2;
	border-radius:.25em;
	-webkit-appearance:none;
	/* 네이티브 외형 감추기 */ -moz-appearance:none;
	appearance: none;
}

.row:hover {
	background-color: #e0e0e0;
	cursor: pointer;
}