.div_header {
	flex-direction: row-reverse;
}

.main_div {
	padding: 25px;
	border: 1px solid #C3C3C3;
	border-top: 0px;
	background-color: white;
	overflow: auto;
	height: calc(100vh - 166px);
	text-align: left;
}

/*################ 테이블 DIV 부분 ################*/
table {
	border-collapse: collapse;
	word-break: break-all;
	overflow-x: auto;
	white-space: nowrap;
	border: 1px solid #C3C3C3;
}

#f_table {
	display: inline-table;
	float: left;
	width: 750px;
	border: none;
}

#s_table {
	display: inline-table;
	float: left;
	width: 500px;
	border: none;
}

#s_table td {
	border: none;
}

table input {
	color: #717171;
	width: 100%;
	padding: 0;
}

th {
	background-color: #F4F4F4;
	border: 1px solid #C3C3C3;
	font-weight: bold;
	color: #717171;
	padding: 5px;
	text-align: center;
	height: 36px;
}

.mtitle {
	font-size: medium;
	font-size: 0.8rem;
	text-align: left;
	padding: 10px;
	padding-left: 25px;
}

.stitle {
	background-color: white;
	padding: 5px 15px;
	border: 1px solid #C3C3C3;
	height: 36px;
}

.select_box {
	margin-left: 0;
	background-image: none;
	cursor: default;
}

.select_box:hover {
	background-image: none;
}

table td {
	color: #717171;
	border: 1px solid #C3C3C3;
	font-size: 14px;
	height: 36px;
	font-size: 0.8rem;
}

.pd_des {
	background-color: white;
	padding: 10px;
}

.inItem {
	width: 1px;
	background-color: #FDB525;
	border: 1px solid #FDB525;
	padding: 0px;
}

.itemTd {
	background-color: #F4F4F4;
	border: 1px solid #C3C3C3;
	color: #717171;
	padding: 5px;
	text-align: center;
	height: 36px;
}

.tdTextAr {
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 0.7vw;
	color: #717171;
}

/* ####################   테이블 수정 css #####################*/
.tdInput {
	height: 25px;
	border: none;
	outline: none;
}

.itemTd input {
	background-color: #F4F4F4;
}

.row:hover, .input_hover {
	background-color: #e0e0e0;
	cursor: pointer;
}

#cancel_button, #save_button {
	display: none;
}

.writeonly {
	border: 1px solid #FDB525;
}

.edit {
	pointer-events: none;
}

.editCompleted {
	background-color: skyblue;
}

.select_box:disabled {
	border: none;
	color: #717171;
	opacity: initial;
	appearance: none;
}

.select_box {
	width: 150px;
	height: 100%;
	font-family: inherit;
	font-weight: 400;
	padding: 0;
	/* 폰트 상속 */
	font-size: 0.8rem;
	color: #717171;
}

.edit_sbox {
	border: 1px solid #C3C3C3;
	border-radius: 1px;
	width: 150px;
	height: 32px;
	padding-left: 5px;
	font-family: inherit;
	/* 폰트 상속 */
	font-size: 12px;
	color: #717171;
	margin-right: 15px;
	cursor: pointer;
	
	/* 네이티브 외형 감추기 */
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background: url(../img/btn_checkbox.png) no-repeat right 4px center;
	background-size: 22px;
}

.uneditable {
	color: #A30000;
	font-weight: bold;
	pointer-events: none;
}