/**************************/
/* HEADER * index2전용 css 경현 지영합친거/
/**************************/

.header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: #fdf2e9;
    /*추가*/
    box-shadow: 5px 5px 10px;
  
    /* Because we want header to be sticky later */
    /*변경*/
    height: 15rem;  /*헤더 길이만*/
    /* 원본 height: 9.6rem; */
    padding: 0 4.8rem;
    position: relative;
  }
  
  .logo {
    height: 10rem;
    /* 원본 height: 2.2rem; */
  }
  
  /*일단 여기까지만 변경 11/30*/
  /**************************/
  /* NAVIGATION */
  /**************************/
  
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    /* 원본  font-weight: 500; */
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #cf711f;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
  }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: #cf711f;
  }
  
 /**************************/
/* MOBILE */
/*화면 가장 작아졌을때, 오른쪽 메뉴부분_구 확인완료*/
/**************************/
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
  
    display: none;
  }
  
  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
  }
  
  .icon-mobile-nav[name="close-outline"] {
    display: none;
  }


  
  /* STICKY NAVIGATION */
  .sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 12rem;
    padding-top: 0;
    padding-bottom: 0;
    /* 원본  background-color: rgba(255, 255, 255, 0.97); */
    background-color: #fdf2e9; /*스크롤 내려도, 헤더부분 색상부분*/
    z-index: 999;
    /* 원본   box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); */
    box-shadow: 5px 5px 10px; /*그림자지정*/
  }
  
  .sticky .section-hero {
    margin-top: 9.6rem;
  }


  
/**************************/
/* TESTIMONIALS SECTION */
/**************************/

/* JY 전체 크기에 padding 넣기 */
.section-testimonials {
  background-color: #fdf2e9;
  /* padding: 10rem 40rem 10rem 40rem; */
  /* display: flex; */
  /* grid-template-columns: 55fr 45fr; */
  align-items: center;

}

.testimonials-container {
  padding: 9.6rem;
}

/* .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
} */

/* 사람이미지 */
/* .testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
} */

/* JY 세부페이지 글씨 */
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1.6rem;
  text-decoration-line: none;
  text-align: left;
  color: black;
}

/* 상세설명 */
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
  text-align: left;
}

/* JY queries에서 전체 크기 변경 */
.gallery {
  /* center 설정함 */
  /* text-align: center;  */
  display: grid;
  gap: 2.5rem;
  padding: 1.6rem;
}

/* JY html 밖으로 나가는 것들 숨김 */
/* .gallery-item {
  overflow: hidden;
} */

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  margin-left: 92px;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}